In [2]:
import sqlite3

In [2]:
db=sqlite3.connect("ineuron.db")

# create a file to store a data and .db means only store structured data
# file name is ineuron where data will save.

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1004-C407

 Directory of C:\Users\vijay\OneDrive\Desktop\Data_Science\Python_Classes

04/18/2022  11:09 AM    <DIR>          .
04/18/2022  11:09 AM    <DIR>          ..
04/15/2022  12:04 PM    <DIR>          .ipynb_checkpoints
02/16/2022  12:24 PM    <DIR>          __pycache__
04/13/2022  03:03 PM            20,039 13th_Feb_mogngodb.ipynb
02/02/2022  02:48 PM            22,955 15th_Jan.ipynb
02/01/2022  10:16 PM            15,272 15th_jan_Logging.ipynb
01/24/2022  01:26 PM            53,959 19Th_Dec_Fun_Practice_Prob.ipynb
04/18/2022  11:09 AM            28,268 20th_Feb_SQL_Lite.ipynb
02/07/2022  08:38 PM            13,415 22_Jan_22.ipynb
02/16/2022  12:22 PM            15,574 23_jan_01.ipynb
02/16/2022  12:39 PM             2,640 23_jan_02.ipynb
02/23/2022  12:20 PM            17,068 29_jan.ipynb
03/20/2022  11:22 AM            69,008 5th_feb_SQL.ipynb
03/24/2022  07:03 PM           556,171 6th_Feb_SQL.ipynb
01/13/2022  12:46 PM            30,008 8th_Jan_22.ipynb
01/23/2022  07:49 PM            16,792 9th_Jan.ipynb
03/24/2022  07:38 PM            51,867 car.data
03/08/2022  12:17 PM            11,903 glass (1).data
01/24/2022  12:24 PM             5,060 google.txt
04/15/2022  01:49 PM             8,192 ineuron.db
04/03/2022  08:33 PM            57,313 mongodb class 1.ipynb
02/04/2022  08:02 PM               223 my_module.py
02/04/2022  08:01 PM               219 my_module.py.bak
02/16/2022  12:23 PM               655 mydict.py
02/16/2022  12:21 PM                 0 mydict.py.bak
04/15/2022  02:13 PM                 0 person.db
04/15/2022  02:16 PM             8,192 pesron.db
03/08/2022  12:22 PM            80,353 SQL basic .ipynb
03/24/2022  06:45 PM           358,223 sql day 2 .ipynb
02/02/2022  02:46 PM             4,053 test.log
01/26/2022  11:50 AM                16 test.txt
02/04/2022  01:56 PM               187 test1.py
02/04/2022  01:53 PM               187 test1.py.bak
02/01/2022  07:37 PM                23 test1.txt
02/01/2022  09:57 PM                 0 test2.log
02/04/2022  01:48 PM                 0 test2.py
01/24/2022  10:39 AM                20 test2.txt
01/24/2022  10:39 AM                23 test3.txt
02/01/2022  07:37 PM                 0 test43.txt
01/23/2022  08:24 PM                85 test5
01/24/2022  10:39 AM                65 test5.txt
03/28/2022  12:47 PM            64,527 Untitled.ipynb
              39 File(s)      1,512,555 bytes
               4 Dir(s)  91,197,386,752 bytes free

In [4]:
c = db.cursor()

#c is a cursor variable, pointer which is responsible for executing each and 
# every query

In [8]:
c.execute('create table fsds(name text, batchid int, marks real) ')

In [5]:
c.execute('insert into fsds values("sudh", 123, 123.45)')

OperationalError: no such table: fsds

In [11]:
c.execute('insert into fsds values("sudh", 123, 123.45)')
c.execute('insert into fsds values("sudh", 123, 123.45)')
c.execute('insert into fsds values("sudh", 123, 123.45)')
c.execute('insert into fsds values("sudh", 123, 123.45)')
c.execute('insert into fsds values("sudh", 123, 123.45)')
c.execute('insert into fsds values("sudh", 123, 123.45)')
c.execute('insert into fsds values("sudh", 123, 123.45)')

In [5]:
data = c.execute('select * from fsds')

In [6]:
for i in data:
    print(i)

('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)

In [7]:
db.commit()

In [8]:
db.close()

In [9]:
db = sqlite3.connect("ineuron.db")

In [10]:
c = db.cursor()

In [13]:
data = c.execute('select * from fsds where marks > 100')

In [14]:
for i in data:
    print(i)

('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)
('sudh', 123, 123.45)

In [17]:
data1 = c.execute("select name, marks from fsds")

In [18]:
for i in data1:
    print(i)

('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)

In [19]:
data3 = c.execute('select name, marks from fsds order by marks')

In [20]:
for i in data3:
    print(i)

('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)
('sudh', 123.45)

In [21]:
db.close()

In [25]:
db = sqlite3.connect("pesron.db")

In [26]:
c = db.cursor()

In [75]:
c.execute("create table person_table(name text, emailid text, age int, salary real)")

OperationalError: table person_table already exists

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1004-C407

 Directory of C:\Users\vijay\OneDrive\Desktop\Data_Science\Python_Classes

04/18/2022  11:09 AM    <DIR>          .
04/18/2022  11:09 AM    <DIR>          ..
04/15/2022  12:04 PM    <DIR>          .ipynb_checkpoints
02/16/2022  12:24 PM    <DIR>          __pycache__
04/13/2022  03:03 PM            20,039 13th_Feb_mogngodb.ipynb
02/02/2022  02:48 PM            22,955 15th_Jan.ipynb
02/01/2022  10:16 PM            15,272 15th_jan_Logging.ipynb
01/24/2022  01:26 PM            53,959 19Th_Dec_Fun_Practice_Prob.ipynb
04/18/2022  11:09 AM            28,268 20th_Feb_SQL_Lite.ipynb
02/07/2022  08:38 PM            13,415 22_Jan_22.ipynb
02/16/2022  12:22 PM            15,574 23_jan_01.ipynb
02/16/2022  12:39 PM             2,640 23_jan_02.ipynb
02/23/2022  12:20 PM            17,068 29_jan.ipynb
03/20/2022  11:22 AM            69,008 5th_feb_SQL.ipynb
03/24/2022  07:03 PM           556,171 6th_Feb_SQL.ipynb
01/13/2022  12:46 PM            30,008 8th_Jan_22.ipynb
01/23/2022  07:49 PM            16,792 9th_Jan.ipynb
03/24/2022  07:38 PM            51,867 car.data
03/08/2022  12:17 PM            11,903 glass (1).data
01/24/2022  12:24 PM             5,060 google.txt
04/15/2022  01:49 PM             8,192 ineuron.db
04/03/2022  08:33 PM            57,313 mongodb class 1.ipynb
02/04/2022  08:02 PM               223 my_module.py
02/04/2022  08:01 PM               219 my_module.py.bak
02/16/2022  12:23 PM               655 mydict.py
02/16/2022  12:21 PM                 0 mydict.py.bak
04/15/2022  02:13 PM                 0 person.db
04/15/2022  02:16 PM             8,192 pesron.db
03/08/2022  12:22 PM            80,353 SQL basic .ipynb
03/24/2022  06:45 PM           358,223 sql day 2 .ipynb
02/02/2022  02:46 PM             4,053 test.log
01/26/2022  11:50 AM                16 test.txt
02/04/2022  01:56 PM               187 test1.py
02/04/2022  01:53 PM               187 test1.py.bak
02/01/2022  07:37 PM                23 test1.txt
02/01/2022  09:57 PM                 0 test2.log
02/04/2022  01:48 PM                 0 test2.py
01/24/2022  10:39 AM                20 test2.txt
01/24/2022  10:39 AM                23 test3.txt
02/01/2022  07:37 PM                 0 test43.txt
01/23/2022  08:24 PM                85 test5
01/24/2022  10:39 AM                65 test5.txt
03/28/2022  12:47 PM            64,527 Untitled.ipynb
              39 File(s)      1,512,555 bytes
               4 Dir(s)  91,196,538,880 bytes free

In [27]:
c.execute("insert into person_table values('vijay','vijay@gmail.com', 25, 40000)")
c.execute("insert into person_table values('sudh', 'sudh@gmail.com', 40, 80000)")
c.execute("insert into person_table values('krish', 'krish@gmail.com', 40, 80000)")
c.execute("insert into person_table values('sunny', 'sunny@gmail.com', 35, 65000)")

OperationalError: database is locked

In [78]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1004-C407

 Directory of C:\Users\vijay\OneDrive\Desktop\Data_Science\Python_Classes

04/15/2022  02:16 PM    <DIR>          .
04/15/2022  02:16 PM    <DIR>          ..
04/15/2022  12:04 PM    <DIR>          .ipynb_checkpoints
02/16/2022  12:24 PM    <DIR>          __pycache__
04/13/2022  03:03 PM            20,039 13th_Feb_mogngodb.ipynb
02/02/2022  02:48 PM            22,955 15th_Jan.ipynb
02/01/2022  10:16 PM            15,272 15th_jan_Logging.ipynb
01/24/2022  01:26 PM            53,959 19Th_Dec_Fun_Practice_Prob.ipynb
04/15/2022  02:16 PM            27,915 20th_Feb_SQL_Lite.ipynb
02/07/2022  08:38 PM            13,415 22_Jan_22.ipynb
02/16/2022  12:22 PM            15,574 23_jan_01.ipynb
02/16/2022  12:39 PM             2,640 23_jan_02.ipynb
02/23/2022  12:20 PM            17,068 29_jan.ipynb
03/20/2022  11:22 AM            69,008 5th_feb_SQL.ipynb
03/24/2022  07:03 PM           556,171 6th_Feb_SQL.ipynb
01/13/2022  12:46 PM            30,008 8th_Jan_22.ipynb
01/23/2022  07:49 PM            16,792 9th_Jan.ipynb
03/24/2022  07:38 PM            51,867 car.data
03/08/2022  12:17 PM            11,903 glass (1).data
01/24/2022  12:24 PM             5,060 google.txt
04/15/2022  01:49 PM             8,192 ineuron.db
04/03/2022  08:33 PM            57,313 mongodb class 1.ipynb
02/04/2022  08:02 PM               223 my_module.py
02/04/2022  08:01 PM               219 my_module.py.bak
02/16/2022  12:23 PM               655 mydict.py
02/16/2022  12:21 PM                 0 mydict.py.bak
04/15/2022  02:13 PM                 0 person.db
04/15/2022  01:47 PM             8,192 pesron.db
04/15/2022  02:16 PM             4,616 pesron.db-journal
03/08/2022  12:22 PM            80,353 SQL basic .ipynb
03/24/2022  06:45 PM           358,223 sql day 2 .ipynb
02/02/2022  02:46 PM             4,053 test.log
01/26/2022  11:50 AM                16 test.txt
02/04/2022  01:56 PM               187 test1.py
02/04/2022  01:53 PM               187 test1.py.bak
02/01/2022  07:37 PM                23 test1.txt
02/01/2022  09:57 PM                 0 test2.log
02/04/2022  01:48 PM                 0 test2.py
01/24/2022  10:39 AM                20 test2.txt
01/24/2022  10:39 AM                23 test3.txt
02/01/2022  07:37 PM                 0 test43.txt
01/23/2022  08:24 PM                85 test5
01/24/2022  10:39 AM                65 test5.txt
03/28/2022  12:47 PM            64,527 Untitled.ipynb
              40 File(s)      1,516,818 bytes
               4 Dir(s)  90,642,046,976 bytes free

In [28]:
data = c.execute("select * from person_table")

In [29]:
for i in data :
    print(i)

('vijay', 'vijay@gmail.com', 25, 40000.0)
('vijay', 'vijay@gmail.com', 25, 40000.0)
('vijay', 'vijay@gmail.com', 25, 40000.0)
('sudh', 'sudh@gmail.com', 40, 80000.0)
('krish', 'krish@gmail.com', 40, 80000.0)
('sunny', 'sunny@gmail.com', 35, 65000.0)
('vijay', 'vijay@gmail.com', 25, 40000.0)
('sudh', 'sudh@gmail.com', 40, 80000.0)
('krish', 'krish@gmail.com', 40, 80000.0)
('sunny', 'sunny@gmail.com', 35, 65000.0)

In [19]:
db.commit()

In [82]:
db.close()

In [83]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1004-C407

 Directory of C:\Users\vijay\OneDrive\Desktop\Data_Science\Python_Classes

04/15/2022  02:16 PM    <DIR>          .
04/15/2022  02:16 PM    <DIR>          ..
04/15/2022  12:04 PM    <DIR>          .ipynb_checkpoints
02/16/2022  12:24 PM    <DIR>          __pycache__
04/13/2022  03:03 PM            20,039 13th_Feb_mogngodb.ipynb
02/02/2022  02:48 PM            22,955 15th_Jan.ipynb
02/01/2022  10:16 PM            15,272 15th_jan_Logging.ipynb
01/24/2022  01:26 PM            53,959 19Th_Dec_Fun_Practice_Prob.ipynb
04/15/2022  02:16 PM            27,915 20th_Feb_SQL_Lite.ipynb
02/07/2022  08:38 PM            13,415 22_Jan_22.ipynb
02/16/2022  12:22 PM            15,574 23_jan_01.ipynb
02/16/2022  12:39 PM             2,640 23_jan_02.ipynb
02/23/2022  12:20 PM            17,068 29_jan.ipynb
03/20/2022  11:22 AM            69,008 5th_feb_SQL.ipynb
03/24/2022  07:03 PM           556,171 6th_Feb_SQL.ipynb
01/13/2022  12:46 PM            30,008 8th_Jan_22.ipynb
01/23/2022  07:49 PM            16,792 9th_Jan.ipynb
03/24/2022  07:38 PM            51,867 car.data
03/08/2022  12:17 PM            11,903 glass (1).data
01/24/2022  12:24 PM             5,060 google.txt
04/15/2022  01:49 PM             8,192 ineuron.db
04/03/2022  08:33 PM            57,313 mongodb class 1.ipynb
02/04/2022  08:02 PM               223 my_module.py
02/04/2022  08:01 PM               219 my_module.py.bak
02/16/2022  12:23 PM               655 mydict.py
02/16/2022  12:21 PM                 0 mydict.py.bak
04/15/2022  02:13 PM                 0 person.db
04/15/2022  02:16 PM             8,192 pesron.db
03/08/2022  12:22 PM            80,353 SQL basic .ipynb
03/24/2022  06:45 PM           358,223 sql day 2 .ipynb
02/02/2022  02:46 PM             4,053 test.log
01/26/2022  11:50 AM                16 test.txt
02/04/2022  01:56 PM               187 test1.py
02/04/2022  01:53 PM               187 test1.py.bak
02/01/2022  07:37 PM                23 test1.txt
02/01/2022  09:57 PM                 0 test2.log
02/04/2022  01:48 PM                 0 test2.py
01/24/2022  10:39 AM                20 test2.txt
01/24/2022  10:39 AM                23 test3.txt
02/01/2022  07:37 PM                 0 test43.txt
01/23/2022  08:24 PM                85 test5
01/24/2022  10:39 AM                65 test5.txt
03/28/2022  12:47 PM            64,527 Untitled.ipynb
              39 File(s)      1,512,202 bytes
               4 Dir(s)  90,641,920,000 bytes free

In [20]:
db = sqlite3.connect("ineuron.db")

In [21]:
c= db.cursor()

In [86]:
c.execute('drop table fsds')

OperationalError: no such table: fsds

In [87]:
c.execute("select * from fsds")

OperationalError: no such table: fsds

In [88]:
db.close()

In [22]:
db = sqlite3.connect('person.db')

In [23]:
c = db.cursor()

In [30]:
data = c.execute('SELECT * from person_table limit 2')

In [97]:
for i in data:
    print(i)

('vijay', 'vijay@gmail.com', 25, 40000.0)
('vijay', 'vijay@gmail.com', 25, 40000.0)

In [31]:
  db.close()

In [3]:
db = sqlite3.connect('joindb.db')

In [4]:
c = db.cursor()

In [34]:
c.execute('create table student(student_id int, student_name text, student_mailid text, marks int)')

In [35]:
c.execute('create table address(student_id int, pincode int, location text, nearby text, phone_no int)')

In [40]:
c.execute("insert into student values(121, 'sudhanshu', 'sudhanshu@gmail.com', 123)")
c.execute("insert into student values(122, 'sudhanshu', 'sudhanshu@gmail.com', 123)")
c.execute("insert into student values(123, 'sudhanshu', 'sudhanshu@gmail.com', 123)")
c.execute("insert into student values(124, 'sudhanshu', 'sudhanshu@gmail.com', 123)")
c.execute("insert into student values(125, 'sudhanshu', 'sudhanshu@gmail.com', 123)")
c.execute("insert into student values(126, 'sudhanshu', 'sudhanshu@gmail.com', 123)")
c.execute("insert into student values(127, 'sudhanshu', 'sudhanshu@gmail.com', 123)")
c.execute("insert into student values(128, 'sudhanshu', 'sudhanshu@gmail.com', 123)")
c.execute("insert into student values(129, 'sudhanshu', 'sudhanshu@gmail.com', 123)")
c.execute("insert into student values(130, 'sudhanshu', 'sudhanshu@gmail.com', 123)")

In [41]:
c.execute("insert into address values(121, 412105, 'pune', 'shanivarwad', 830883)")
c.execute("insert into address values(121, 412105, 'pune', 'shanivarwad', 830883)")
c.execute("insert into address values(121, 412105, 'pune', 'shanivarwad', 830883)")
c.execute("insert into address values(121, 412105, 'pune', 'shanivarwad', 830883)")
c.execute("insert into address values(121, 412105, 'pune', 'shanivarwad', 830883)")
c.execute("insert into address values(121, 412105, 'pune', 'shanivarwad', 830883)")
c.execute("insert into address values(121, 412105, 'pune', 'shanivarwad', 830883)")
c.execute("insert into address values(121, 412105, 'pune', 'shanivarwad', 830883)")
c.execute("insert into address values(121, 412105, 'pune', 'shanivarwad', 830883)")
c.execute("insert into address values(121, 412105, 'pune', 'shanivarwad', 830883)")

In [43]:
for i in c.execute("select * from address"):
    print(i)

(121, 412105, 'pune', 'shanivarwad', 830883)
(121, 412105, 'pune', 'shanivarwad', 830883)
(121, 412105, 'pune', 'shanivarwad', 830883)
(121, 412105, 'pune', 'shanivarwad', 830883)
(121, 412105, 'pune', 'shanivarwad', 830883)
(121, 412105, 'pune', 'shanivarwad', 830883)
(121, 412105, 'pune', 'shanivarwad', 830883)
(121, 412105, 'pune', 'shanivarwad', 830883)
(121, 412105, 'pune', 'shanivarwad', 830883)
(121, 412105, 'pune', 'shanivarwad', 830883)

In [44]:
for i in c.execute("select * from student"):
    print(i)

(121, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(122, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(123, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(124, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(125, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(126, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(127, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(128, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(129, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(130, 'sudhanshu', 'sudhanshu@gmail.com', 123)

In [47]:
data = c.execute("select * from student s left join address a on s.student_id = a.student_id")

In [49]:
for i in data:
    print(i)

(121, 'sudhanshu', 'sudhanshu@gmail.com', 123, 121, 412105, 'pune', 'shanivarwad', 830883)
(121, 'sudhanshu', 'sudhanshu@gmail.com', 123, 121, 412105, 'pune', 'shanivarwad', 830883)
(121, 'sudhanshu', 'sudhanshu@gmail.com', 123, 121, 412105, 'pune', 'shanivarwad', 830883)
(121, 'sudhanshu', 'sudhanshu@gmail.com', 123, 121, 412105, 'pune', 'shanivarwad', 830883)
(121, 'sudhanshu', 'sudhanshu@gmail.com', 123, 121, 412105, 'pune', 'shanivarwad', 830883)
(121, 'sudhanshu', 'sudhanshu@gmail.com', 123, 121, 412105, 'pune', 'shanivarwad', 830883)
(121, 'sudhanshu', 'sudhanshu@gmail.com', 123, 121, 412105, 'pune', 'shanivarwad', 830883)
(121, 'sudhanshu', 'sudhanshu@gmail.com', 123, 121, 412105, 'pune', 'shanivarwad', 830883)
(121, 'sudhanshu', 'sudhanshu@gmail.com', 123, 121, 412105, 'pune', 'shanivarwad', 830883)
(121, 'sudhanshu', 'sudhanshu@gmail.com', 123, 121, 412105, 'pune', 'shanivarwad', 830883)
(122, 'sudhanshu', 'sudhanshu@gmail.com', 123, None, None, None, None, None)
(123, 'sudhanshu', 'sudhanshu@gmail.com', 123, None, None, None, None, None)
(124, 'sudhanshu', 'sudhanshu@gmail.com', 123, None, None, None, None, None)
(125, 'sudhanshu', 'sudhanshu@gmail.com', 123, None, None, None, None, None)
(126, 'sudhanshu', 'sudhanshu@gmail.com', 123, None, None, None, None, None)
(127, 'sudhanshu', 'sudhanshu@gmail.com', 123, None, None, None, None, None)
(128, 'sudhanshu', 'sudhanshu@gmail.com', 123, None, None, None, None, None)
(129, 'sudhanshu', 'sudhanshu@gmail.com', 123, None, None, None, None, None)
(130, 'sudhanshu', 'sudhanshu@gmail.com', 123, None, None, None, None, None)

In [51]:
for i in c.execute("select * from student"):
    print(i)

(121, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(122, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(123, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(124, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(125, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(126, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(127, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(128, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(129, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(130, 'sudhanshu', 'sudhanshu@gmail.com', 123)

In [52]:
c.execute("delete from student where student_id >127")

In [53]:
for i in c.execute("select * from student"):
    print(i)

(121, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(122, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(123, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(124, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(125, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(126, 'sudhanshu', 'sudhanshu@gmail.com', 123)
(127, 'sudhanshu', 'sudhanshu@gmail.com', 123)

In [55]:
c.execute("update student set student_id = 130 where student_id = 127")

In [56]:
data = c.execute("select * from student")

In [57]:
data.fetchall()

[(121, 'sudhanshu', 'sudhanshu@gmail.com', 123),
 (122, 'sudhanshu', 'sudhanshu@gmail.com', 123),
 (123, 'sudhanshu', 'sudhanshu@gmail.com', 123),
 (124, 'sudhanshu', 'sudhanshu@gmail.com', 123),
 (125, 'sudhanshu', 'sudhanshu@gmail.com', 123),
 (126, 'sudhanshu', 'sudhanshu@gmail.com', 123),
 (130, 'sudhanshu', 'sudhanshu@gmail.com', 123)]

In [5]:
db.close()

# Map function

map(function, iterables)

In [6]:
l = [1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i+5)

In [7]:
l1

[6, 7, 8, 9, 10]

In [8]:
def test(a):
    return a+5

In [12]:
list(map(test,l))

[6, 7, 8, 9, 10]

In [14]:
def test1(a):
    return a*3454+454

In [15]:
list(map(test1,l))

[3908, 7362, 10816, 14270, 17724]

In [16]:
l1 = ['123', '234', '345', '456']

In [23]:
def test3(a):
    return int(a)

In [25]:
test3("123")

123

In [26]:
list(map(test3,l1))

[123, 234, 345, 456]

In [29]:
list(map(lambda x:int(x),l1))

[123, 234, 345, 456]

# Filter

it check the condition is true,if it is then give result only

In [1]:
l = [4,5,6,7,8,9]

In [2]:
def test4(a):
    if a%2 == 0:
        return a

In [9]:
list(filter(test4,l))

[4, 6, 8]

In [15]:
list(filter(lambda x:x%2 ==0, l))

[4, 6, 8]

In [16]:
list(filter(lambda x:x%3 ==0,l))

[6, 9]

# Reduce

In [17]:
from functools import reduce

In [18]:
l = [3,4,5,6,7,8]

In [19]:
sum(l)

33

In [22]:
def test6(a,b):
    return a+b

In [23]:
reduce(test6,l)

33

In [24]:
reduce(lambda x,y:x+y,l)

33